#Menu-screen{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

#number-of-players {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 0 5%;
    margin-top: 30px;
}

#start-button-row {
    display: flex;
    justify-content: center;
    padding: 0 5%;
    margin-top: 30px;
    
}

#start-game {
    width: 210px;
    background-color: yellow;

}

.button-clicked {
    box-shadow:none;
    color: #000;
}


#player1-btn {
    margin-right: 30px;
    width: 210px;
    background-color: yellow;
}

#player2-btn {
    margin-left: 30px;
    width: 210px;
    background-color: yellow;
}

#how-to-play {
    display: flex;
    justify-content: center;
    padding: 0 5%;
    margin-top: 30px;
}

#instructions {
    width: 210px;
    background-color: yellow;
}

.button-row {
    display: none;
}