.Screen {
   display: grid;
   grid-template-columns: 1fr 1fr;
   width: 25em;
}

.Scrn {
    width: 25vw;
}

.RollDice{
    display: flex;
    flex-direction: column-reverse;
    min-height: 40vh;
}
    
    /* Shows each dice in one row */
.RollDice-container{
    display: flex;
    justify-content: space-evenly;
}
/* Stylling rolldice button */
.RollDice button{
    width:15em;
    padding:1.5em;
    border: 0px;
    border-radius: 10px;
    color:white;
    background-color:black;
    margin-top: 3em;
    align-self: center;
}

/* Setting hover effect on button */
.RollDice button:hover{
    cursor: pointer;
}

.RollDice-rolling{
    border: 0px;
    border-radius: 10px;
    background-color:rgb(225, 49, 18) !important;
    opacity:0.7
}

.btn60 {
    width: 100vw;
    grid-template-columns: 1fr 1fr;
    display: flex;
    justify-content: center;
    
}
    